.wrap-field
  &.input
    .label-input
      &.text, &.email, &.password, &.number, &.file
        display: flex
        flex-direction: column
        .label
          margin-bottom: 5px
      &.checkbox,
      &.radio
        display: flex
        align-items: center
        cursor: pointer
        .label
          order: 2
          margin-left: 5px