#modal-wrap
  position: fixed
  top: 0
  left: 0
  background: rgba(0,0,0,0.6)
  width: 100%
  height: 100%
  z-index: 10000
  display: flex
  .modal
    background: #fff
    margin: 150px auto
    width: 600px
    height: 200px
    border-radius: 6px
    position: relative
    .header
      display: flex
      justify-content: space-between
      align-items: center
      margin: 20px 30px 0px 30px
      .btn-close-modal
        background: none
        border: none
        color: #666666
        font-size: 22px
        cursor: pointer
    .content
      margin: 20px 30px
      .modal-description
        margin-bottom: 20px
      .modal-btns
        margin-top: 20px