.main-button
  display: inline-block
  width: 182px
  border-radius: 100px
  line-height: 48px
  font-size: 18px
  text-align: center
  box-sizing: border-box
  cursor: pointer
  font-weight: normal
  transition: background-color .3s
  &.primary
    background: #2F80ED
    color: #fff
    &:hover
      background: #2172DF
  &.secondary
    background: #989BA4
    color: #fff
    &:hover
      background: #989BA4
  &.disabled
    pointer-events: none
    background: none
    border: 1px solid var(--disable-button-border)
    color: var(--disable-button-color)