.main-container
  height: 100%
  width: 100%
  object-fit: cover
  display: flex

  .input-placeholder
    margin: auto
    width: 60%
    height: 86px
    position: relative
    display: flex
    flex-direction: column
    font-size: 30px

    & input:valid + .placeholder
        display: none

    .main-input
      border-radius: 20px
      border-width: 0px
      height: 100%
      width: 100%
      font-size: 30px
      padding-left: 50px
      font-family: 'Montserrat', sans-serif

      &:focus
        outline: none

    .placeholder
      position: absolute
      pointer-events: none
      top: 24px
      left: 50px
      margin: auto
      font-family: 'Montserrat', sans-serif
      color: #9D9D9D
      span
        color: #ED8F5A